.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  gap: 1rem;
  width: 50vw;
  max-width: 700px;
  .link {
    display: flex;
    gap: 1rem;
    span {
      color: var(--color-orange);
      cursor: pointer;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  & > span {
    font-size: 0.7rem;
    padding-bottom: 1rem;
  }
  input {
    background-color: var(--color-light);
    border: none;
    padding: 0.7rem 1rem;
    width: 100%;
    border-radius: 5px;
  }
  .errors {
    color: var(--color-primary-variant);
    p {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .form {
    width: 70vw;
  }
}

@media (max-width: 480px) {
  .form {
    width: 80vw;
    .link {
      flex-direction: column;
    }
  }
}
