button {
  border-radius: 20px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  &:hover {
    background-color: var(--color-primary-variant);
  }
}
