.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  .container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    max-width: 900px;
    overflow: hidden;
    padding: 1rem;
    .formContainer {
      width: 100%;
    }
  }
}
