.imageItem {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  transition: var(--transition);
  .info {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: var(--transition);
    p {
      transition: var(--transition);
      line-height: 22px;
      color: white;
      font-weight: 400;
      position: absolute;
      font-size: 0.8rem;
      bottom: 2rem;
      left: 1.5rem;
    }
    .button {
      transition: var(--transition);
      padding: 0.3rem 0.9rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      border-radius: 38px;
      color: var(--color-red);
      border: 1px solid var(--color-red);
      background-color: transparent;
    }
  }
  &:hover {
    transition: var(--transition);
    .info {
      transition: var(--transition);
      display: flex;
    }
  }
}
