.socialContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  .social {
    border: 1px solid var(--color-light);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: var(--color-primary-variant2);
    cursor: pointer;
  }
}
