@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  --color-primary: #ef798a;
  --transition: all 400ms ease;
  scroll-behavior: smooth;

  --color-bg: #3d405b;
  --color-text: #fff;
  --color-light: rgba(135, 154, 152, 0.2);
  --color-primary-variant: #d14081;
  --color-primary-variant2: #ff9000;

  /*--color-bg: #d7c7ca;*/
}

::-webkit-scrollbar {
  display: none;
}
